* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #636e72;
  background-color: #2f3542;
  font-size: 18px;
  letter-spacing: 1px;
}

.page-container {
  max-width: 768px;
  box-shadow: 15px 15px #636e72;
  margin: 12px auto;
  padding: 12px 0px;
  background-color: #dfe6e9;
}

/* === HEADER === */
header {
  height: 128px;
  display: flex;
  max-width: 768px;
  width: 100%;
  margin: 18px auto 48px;
  line-height: 128px;
  text-align: bottom;
  padding: 12px 24px;
  background-color: #dfe6e9;
}

header img {
  height: 100%;
  background-color: #dfe6e9;
}

.nav-title {
  font-size: 36px;
  color: #0984e3;
  background-color: #dfe6e9;
}

.nav-login {
  flex: 1;
  text-align: right;
  font-size: 20px;
  background-color: #dfe6e9;
}

/* === MAIN === */

.container {
  display: flex;
  margin: 18px auto 48px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 768px;
  width: 100%;
  background-color: #dfe6e9;
}

.main-heading {
  background-color: #dfe6e9;
}

.main-heading h1 {
  font-size: 48px;
  margin-bottom: 24px;
  color: #0984e3;
  background-color: #dfe6e9;
}

.main-heading div {
  margin-bottom: 48px;
  background-color: #dfe6e9;
}

.overview {
  background-color: #f3f1ef;
  padding: 12px 24px;
  margin-bottom: 24px;
}

.overview div {
  background-color: #f3f1ef;
}
.overview h1 {
  font-size: 24px;
  margin-bottom: 12px;
  background-color: #f3f1ef;
}

.signup button {
  height: 42px;
  width: 164px;
  font-weight: 700;
  color: #636e72;
  border: 2px solid #2d3436;
  background-color: #dfe6e9;
  outline: none;

}

.signup button:hover {
  background-color: #b2bec3;
  color: #ffffff;
}

/* === RESPONSIVE STYLES === */

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (min-width: 769px) {

}
